body{background-color:antiquewhite;}
.banner {
         height: 100px;
         width: 100%;
         background-color: powderblue;
         margin-bottom:50px;
         }
.banner-text{
         position: absolute;
         z-index:999;
         text-align: center;
         font-size: 3em;
         width: 100%;
         height: 100%;
         transform:transform;
}